.main {
    border:2px, solid, black;
    text-align: center;
    height:500px;
    width:500px;
    background-color:white;
}
.item {
    background-color:pink;
    height: 30%;
    width: 30%;
    text-align: center;
    margin-top:30%;
    padding: 50px;
    margin-left:25%;
    outline-style:dashed;
    outline-width:medium;
    outline-color: bisque;
    outline-offset:15px;
}